<div class="col-md-5 offset-md-4 card card-body mt-5">
    <form #updateLibrarian="ngForm" (ngSubmit)="librarian(updateLibrarian)">
        <h1 class="bg-success text-light card" align="center">Update Librarian</h1>
        <h6 class="text-danger float-right">*Required Fields</h6>
        <div class="form-group">
            <label for="userName" class="text-success">User Name<h6 class="text-danger float-right">*</h6></label>
            <input type="text" #userName="ngModel" ngModel name="userName" id="userName" class="form-control" required>
            <div *ngIf="userName.touched && userName.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="userEmail" class="text-success">Email<h6 class="text-danger float-right">*</h6></label>
            <input type="email" #userEmail="ngModel" ngModel name="userEmail" id="userEmail" class="form-control"
                required>
            <div *ngIf="userEmail.touched && userEmail.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="userPassword" class="text-success">Password<h6 class="text-danger float-right">*</h6>
            </label>
            <input type="password" #userPassword="ngModel" ngModel name="userPassword" id="userPassword"
                class="form-control" required>
            <div *ngIf="userPassword.touched && userPassword.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        
        <input type="hidden" name="type" id="type" #type="ngModel" [(ngModel)]=name>
        <button type="submit" class="btn btn-success float-right" [disabled]="updateLibrarian.invalid">Update </button>
    </form>
</div>
