<div class="col-md-5 offset-md-4 card card-body mt-5">
    <form #deleteLibrarian="ngForm" (ngSubmit)="delete(deleteLibrarian)">
        <h1 class="bg-info text-light card" align="center">Delete Librarian</h1>
        <h6 class="text-danger float-right">*Required Field</h6>
        <div class="form-group">
            <label class="text-success" for="userId">Librarian Id<h6 class="text-danger float-right">*</h6></label>
            <input type="number" #userId="ngModel" ngModel name="userId" id="userId" class="form-control" required
                placeholder="Enter Librarian Id to delete">
            <div *ngIf="userId.touched && userId.invalid">
                <p class="alert alert-danger"> *This field is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary float-right" [disabled]="deleteLibrarian.invalid">Delete </button>
    </form>
</div>