<div class="col-md-5 offset-md-4 card card-body mt-5">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

        <h1 class="bg-info text-light card" align="center">Login Form..!</h1>
        <h6 class="text-danger float-right">*Required Fields</h6>
        <div class="form-group">
            <label for="userId" class="text-success">User Id<h6 class="text-danger float-right">*</h6></label>
            <input type="number" #userId="ngModel" ngModel name="userId" id="userId" class="form-control" required
                placeholder="Enter User Id" min="3">
            <div *ngIf="userId.touched && userId.invalid">
                <p class="alert alert-danger"> This field is required</p>
                <p class="alert alert-danger"> Accepts atleast 4 digits</p>
            </div>
        
        </div>

        <div class="form-group">
            <label for="password" class="text-success">Password<h6 class="text-danger float-right">*</h6>
            </label>
            <input type="password" #password="ngModel" ngModel name="password" id="password" class="form-control"
                required placeholder="Enter User Password">
            <div *ngIf="password.touched && password.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <button type="submit" class="btn btn-primary float-right" [disabled]="loginForm.invalid">Login </button>
    </form>
</div>