<div class="col-md-5 offset-md-4 card card-body mt-5">
    <form #addLibrarian="ngForm" (ngSubmit)="librarian(addLibrarian)">
        <h1 class="bg-success text-light card" align="center">Add Librarian</h1>
        <h6 class="text-danger float-right">*Required Fields</h6>
        <div class="form-group">
            <label for="userId" class="text-success">userId<h6 class="text-danger float-right">*</h6></label>
            <input type="number" #userId="ngModel" ngModel name="userId" id="userId" class="form-control" required
                placeholder="Enter librarian Id">
            <div *ngIf="userId.touched && userId.invalid">
                <p class="alert alert-danger"> *This field is required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="userName" class="text-success">Name<h6 class="text-danger float-right">*</h6></label>
            <input type="text" #userName="ngModel" ngModel name="userName" id="userName" class="form-control" required
                placeholder="Enter librarian Name">
            <div *ngIf="userName.touched && userName.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="userEmail" class="text-success">Email<h6 class="text-danger float-right">*</h6></label>
            <input type="email" #userEmail="ngModel" ngModel name="userEmail" id="userEmail" class="form-control"
                required placeholder="Enter User Email">
            <div *ngIf="userEmail.touched && userEmail.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="userPassword" class="text-success">Password<h6 class="text-danger float-right">*</h6>
                </label>
            <input type="password" #userPassword="ngModel" ngModel name="userPassword" id="userPassword"
                class="form-control" required placeholder="Enter user password">
            <div *ngIf="userPassword.touched && userPassword.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>
        
        <div class="form-group" hidden>
            <label for="type" class="text-success">Type<h6 class="text-danger float-right">*</h6></label>
            <input name="type" id="type" #type="ngModel" [(ngModel)]=name required readonly class="form-control">
            <div *ngIf="type.touched && type.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-success float-right" [disabled]="addLibrarian.invalid">Add</button>


    </form>
</div>