<div class="col-md-5 offset-md-4 card card-body mt-5">
    <form #createBook="ngForm" (ngSubmit)="addBook(createBook)">
        <h1 class="bg-success text-light card" align="center">Add Book</h1>
        <h6 class="text-danger float-right">*Required Fields</h6>

        <div class="form-group">
            <label for="bookName" class="text-success">Name<h6 class="text-danger float-right">*</h6></label>
            <input type="text" #bookName="ngModel" ngModel name="bookName" id="bookName" class="form-control" required
                placeholder="Enter Book Name">
            <div *ngIf="bookName.touched && bookName.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="firstAuthor" class="text-success">first Author<h6 class="text-danger float-right">*</h6>
            </label>
            <input type="text" #firstAuthor="ngModel" ngModel name="firstAuthor" id="firstAuthor" class="form-control"
                required placeholder="Enter firstAuthor name">
            <div *ngIf="firstAuthor.touched && firstAuthor.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="secondAuthor" class="text-success">Second Author<h6 class="text-danger float-right">*</h6>
            </label>
            <input type="text" #secondAuthor="ngModel" ngModel name="secondAuthor" id="secondAuthor"
                class="form-control" required placeholder="Enter secondAuthor name">
            <div *ngIf="secondAuthor.touched && secondAuthor.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>


        <div class="form-group">
            <label for="yearOfPublication" class="text-success">Year Of Publication<h6 class="text-danger float-right">*
                </h6>
            </label>
            <input type="number" #yearOfPublication="ngModel" ngModel name="yearOfPublication" id="yearOfPublication"
                class="form-control" required placeholder="Enter yearOfPublication name">
            <div *ngIf="yearOfPublication.touched && yearOfPublication.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="publisher" class="text-success">publisher<h6 class="text-danger float-right">*</h6>
            </label>
            <input type="text" #publisher="ngModel" ngModel name="publisher" id="publisher"
                class="form-control" required placeholder="Enter publisher name">
            <div *ngIf="publisher.touched && publisher.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <button type="submit" class="btn btn-success float-right" [disabled]="createBook.invalid">Add Book </button>


    </form>
</div>